<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <header class="header navbar-fixed-top">
      <nav class="navbar">
        <div class="logo">Xewann</div>
        <ul class="menu">
          <li><a href="../view/profile.html">Home</a></li>
          <li><a href="../view/tentang.html">Tentang</a></li>
          <li><a href="../view/kontak.html">Kontak</a></li>
        </ul>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>

    <main>
      <section id="tentang">
        <h1>Tentang Saya</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
          quod.
        </p>
      </section>

      <section id="skill">
        <h1>Skill</h1>
        <input type="text" id="cari-skill" placeholder="Cari skill..." />
        <div class="skill-list" id="skill-list"></div>
      </section>
    </main>
    <footer class="footer">
      <h2>Wangsaf: 08123456789</h2>
    </footer>
    <script src="../js/script.js"></script>
    <button id="backToTop" title="Back to Top">↑</button>
  </body>
</html>
